@use '../../../../styles/tokens' as *;
@use '../../../../styles/mixins' as *;

.card {
  background-color: $color-neutral-0;
  padding: $spacing-4;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid $color-project-border;
  flex: 1;
  min-width: 0;
  cursor: pointer;
  @include transition(all);

  &:hover {
    box-shadow: $shadow-md;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
}

.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  order: 2;
}

.content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
  order: 1;
}

.value {
  font-size: 24px;
  font-weight: 700;
  color: $color-project-primary;
  line-height: 16px;
  text-transform: capitalize;
}

.label {
  font-size: 14px;
  color: $color-project-secondary;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 16px;
  
}
