@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.layout {
  display: flex;
  height: 100vh;
  background-color: $color-neutral-50;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: $spacing-6;
  @include custom-scrollbar;

  @include md {
    padding: $spacing-8;
  }
}
